@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Code:wght@300;500;600&family=Labrada:ital,wght@0,100;0,200;0,400;1,200&family=Lato:ital@0;1&family=Montserrat&family=Open+Sans:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,400;0,500;1,400&family=Source+Sans+Pro:ital,wght@0,400;1,400;1,600&family=Ubuntu&family=Zeyada&display=swap");

* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  max-width: 80vw;
  margin: 0 auto;
}

.body-container {
  min-height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  position: absolute;
  bottom: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  height: 80%;
}
.dashboard,
.update-btn {
  display: flex;
  align-items: flex-start;
}

.login-page {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 50px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.input-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}
.input-field {
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
}

.login-btn {
  display: flex;
  align-items: center;
  width: 100;
  justify-content: center;
}

.admin-homepage {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.model-element {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.table-heading {
  margin: 100px 0 30px 0;
  font-family: "ubuntu";
  font-weight: bolder;
  border-bottom: solid 1px whitesmoke;
  text-align: center;
}
.table {
  display: flex;
  height: 100vh;
  align-items: flex-start;
}

.table-header-item {
  font-family: "ubuntu" !important;
  font-size: 1em !important;
  font-weight: bold !important;
}

.table-body-item {
  color: black !important;
  font-size: 0.9em !important;
}

.add-remove-btn {
  display: flex !important;
  justify-content: space-evenly;
}

.response-table {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 20px;
  padding: 20px;
}
.main-container {
  display: flex;
  height: 100px;
  align-items: center !important;
  justify-content: center;
  font-family: "ubuntu";
  font-size: 1.4em;
  color: #4d455d;
}

.error-page {
  height: 100vh;
  margin: 10px 5px 0px 5px;
}

.main-error {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: "DM Serif Display", "ubuntu", serif;
  font-size: 3em;
}

.error-status-code {
  font-size: 3em;
}
.error-text {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.error-message {
  /* outline: solid 1px red; */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-family: "ubuntu";
  margin: 1em 0;
  font-size: 2em;
}

.teacher-homepage-btns {
  outline: solid 1px red;
  display: flex;
  flex-wrap: nowrap;
  width: inherit;
}

.filter-components {
  /* outline: solid 1px red; */
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  gap: 1em;
  border-radius: 8px;
  background-color: #f9f5fe;
  padding: 20px 10px;
}

.filter-component {
  display: flex;
  justify-content: space-evenly;
}
.response-message {
  color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "Montserrat";
  font-weight: 800;
  border-bottom: solid 1px rgb(0, 0, 0);
}
.home-btn {
  /* outline: solid 1px red; */
  display: flex;
  /* align-self: flex-end; */
  /* margin-left: 30px; */
  padding-left: 2.55em;
}

.student-table {
  margin-top: 2em;
  margin-bottom: 2em;
}

.main-report-container {
  display: flex;
  min-height: 600px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attempted-test {
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: red;
}

.profile-container {
  border: solid 2px rgb(83, 75, 75);
  border-radius: 10px;
  padding: 10px 5px;
  margin: 10px 0px;
}

.create-quiz-container {
  padding: 1em 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.create-quiz-form {
  padding: 1em 0.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 800px;
}

.add-question-container {
  min-width: 600px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 2em !important;
}

.quiz-details-container {
  background-color: rgb(223, 223, 223) !important;
  display: flex;
  flex-direction: column !important;
  width: 80%;
}

.quiz-details div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz-details {
  height: 100px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  font-family: "ubuntu";
  gap: 20px;
}

.question-addition-option {
  background-color: rgb(223, 223, 223) !important;
  display: flex;
  flex-direction: row;
  min-width: 200px !important;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
  gap: 20px;
}

.questions-container {
  margin: 0 auto 20px auto;
  padding: 10px 25px;
  background-color: #dcdcdc !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  font-size: 0.9em;
  font-family: "ubuntu", sans-serif;
  width: 90%;
}

.question-container {
  border: solid 1px rgb(93, 86, 86);
  border-radius: 8px;
  padding: 10px 15px;
  /* margin: 2px 5px; */
}

.question {
  background-color: #fae3e4;
  border-radius: 5px;
  padding: 8px 5px;
}

.options {
  /* outline: solid 2px red; */
  padding: 5px;
  margin-top: 4px;
  border-radius: 5px;
  background-color: rgb(226, 226, 226) !important;
}

.correct-option {
  padding: 5px;
  margin-top: 4px;
  border-radius: 5px;
  color: rgb(0, 171, 0);
}

.questions-heading {
  display: flex;
  justify-content: center;
  font-size: 25px !important;
  border-bottom: solid 2px #4d455d;
  border-style: dotted;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #373837;
}

.individual-question-container {
  margin: 0 auto 100px auto;
  padding: 10px 25px;
  background-color: #ccd9ff !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.1em;
  width: inherit;
}

.individual-question-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-field {
  /* padding: 0 10px; */
  display: flex;
  justify-content: center;
  width: 100%;
}
.correct-option-field {
  display: flex;
  justify-content: center;
  width: 100%;
}
.option-field div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
.option-field {
  /* padding: 10px 5px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

.question-edit-backdrop {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
  padding: 50px;
}

.question-edit-form-container form {
  min-width: 200px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
}
.question-edit-form-container {
  width: 800px;
}

.question-edit-option-container {
  display: flex;
  flex-direction: column;
}
.question-edit-option-container div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.question-edit-correct-option-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add-question-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 10px 5px;
}

.student-option-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}
.student-option-btns Button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  font-size: 20px;
}
.student-option-btns Button img {
  width: 80px;
}

.confirmation-backdrop {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.confirmation-backdrop Button {
  margin-bottom: 20px;
}

.confirmation-backdrop .confirmation-dialog-box {
  max-width: 500px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmation-backdrop .confirmation-dialog-box img {
  max-width: 100px;
  padding: 10px 20px;
}
.confirmation-backdrop .confirmation-dialog-box .quiz-details {
  margin-top: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  list-style: none;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 50px;
}

.confirmation-backdrop .confirmation-dialog-box .attempt-btns {
  display: flex;
  width: 100%;
  margin: 10px 20px;
  justify-content: space-around !important;
  align-items: center;
}
.confirmation-backdrop
  .confirmation-dialog-box
  .attempt-btns
  Button:first-child {
  max-height: 35px;
  display: flex;
  max-width: 150px;
}
.confirmation-backdrop .confirmation-dialog-box .attempt-btns Button {
  display: flex;
  width: 60%;
  margin: 10px 20px;
  justify-content: space-around;
}

.attempt-quiz-container {
  margin-top: 40px;
}
.attempt-quiz-container .end-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.attempt-quiz-container .quiz-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.questions-container {
  outline: solid 1px red;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.questions-container .option-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
}
.questions-container .option-list .option {
  cursor: pointer;
  background-color: rgb(196, 196, 196);
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  border-radius: 10px;
  margin: 15px 0;
}
.questions-container .option-list .option.selected {
  /* min-width: 200px; */
  background-color: #3dba34;
  min-height: 50px;
}
.test-complete-dialog-box {
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 400px;
  font-family: "Lato", sans-serif;
}
.test-complete-dialog-box .dialog-box-message span {
  display: flex;
}

.test-complete-dialog-box .success-gif {
  max-width: 100px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: "Lato", sans-serif;
  margin: 20px 0;

  border-bottom: solid 3px rgb(208, 208, 208);
}

.table-row td {
  height: 20px;
}

.table-row:hover td {
  background-color: rgb(187, 193, 255);
  transition: all 0.2s ease-in-out;
}

.csv-table-dialog {
  outline: solid 5px red;
}

.homepage-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: safe;
}
.homepage-container .heading {
  font-family: "lato";
  font-weight: 600;
  font-size: 50px;
  border-bottom: solid 3px rgb(115, 115, 115);
}

.homepage-container .admin-options-btn {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}
.homepage-container .admin-options-btn Button {
  min-width: 400px;
}

.empty-prompt {
  font-family: "ubuntu";
  font-size: 25px;
  margin: 20px auto;
}
.table .empty-prompt {
  font-family: "ubuntu";
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.table .empty-prompt img {
  width: 200px;
  filter: invert(100%);
  transform: rotateZ(18deg);
}

tbody tr:hover {
  background-color: rgb(187, 193, 255);
  transition: all 0.2s ease-in-out;
}

.flex {
  display: flex;
  flex-direction: column;
}

.close-question-edit-form {
  margin-bottom: 10px;
}
