@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Code:wght@300;500;600&family=Labrada:ital,wght@0,100;0,200;0,400;1,200&family=Montserrat&family=Ubuntu&family=Zeyada&display=swap");

* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  max-width: 80vw;
  margin: 0 auto;
}

.body-container {
  min-height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  position: absolute;
  bottom: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  height: 80%;
}
.dashboard,
.update-btn {
  display: flex;
  align-items: flex-start;
}

.login-page {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 50px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.input-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}
.input-field {
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
}

.login-btn {
  display: flex;
  align-items: center;
  width: 100;
  justify-content: center;
}

.admin-homepage {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.model-element {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.table-heading {
  margin: 100px 0 30px 0;
  font-family: "ubuntu";
  font-weight: bolder;
  border-bottom: solid 1px whitesmoke;
  text-align: center;
}
.table {
  display: flex;
  height: 100vh;
  align-items: flex-start;
}

.table-header-item {
  font-family: "ubuntu" !important;
  font-size: 1em !important;
  font-weight: bold !important;
}

.table-body-item {
  color: black !important;
  font-size: 0.9em !important;
}

.add-remove-btn {
  display: flex !important;
  justify-content: space-evenly;
}

.response-table {
  display: flex;
  gap: 80px;
  margin: 20px;
  padding: 20px;
}
.main-container {
  display: flex;
  height: 100px;
  align-items: center !important;
  justify-content: center;
  font-family: "ubuntu";
  font-size: 1.4em;
  color: #4d455d;
}

.error-page {
  height: 100vh;
  margin: 10px 5px 0px 5px;
}

.main-error {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: "DM Serif Display", "ubuntu", serif;
  font-size: 3em;
}

.error-status-code {
  font-size: 3em;
}
.error-text {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.error-message {
  /* outline: solid 1px red; */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-family: "ubuntu";
  margin: 1em 0;
  font-size: 2em;
}

.teacher-homepage-btns {
  outline: solid 1px red;
  display: flex;
  flex-wrap: nowrap;
  width: inherit;
}

.filter-components {
  /* outline: solid 1px red; */
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  gap: 1em;
  border-radius: 8px;
  background-color: #f9f5fe;
  padding: 20px 10px;
}

.filter-component {
  display: flex;
  justify-content: space-evenly;
}
.response-message {
  color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "Montserrat";
  font-weight: 800;
  border-bottom: solid 1px rgb(0, 0, 0);
}
.home-btn {
  /* outline: solid 1px red; */
  display: flex;
  /* align-self: flex-end; */
  /* margin-left: 30px; */
  padding-left: 2.55em;
}

.student-table {
  margin-top: 2em;
  margin-bottom: 2em;
}

.main-report-container {
  display: flex;
  min-height: 600px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attempted-test {
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: red;
}

.profile-container {
  border: solid 1px rgb(37, 18, 18);
  padding: 10px 5px;
  margin: 10px 0px;
}

.create-quiz-container {
  padding: 1em 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.create-quiz-form {
  padding: 1em 0.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 800px;
}

.add-question-container {
  min-width: 600px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 2em !important;
}

.quiz-details-container {
  background-color: #ccd9ff !important;
  display: flex;
  flex-direction: column !important;
  width: 80%;
}

.quiz-details div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz-details {
  height: 100px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  font-family: "ubuntu";
  gap: 20px;
}

.question-addition-option {
  background-color: #ccd9ff !important;
  display: flex;
  flex-direction: row;
  min-width: 200px !important;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
  gap: 20px;
}

.questions-container {
  margin: 0 auto 100px auto;
  padding: 10px 25px;
  background-color: #ccd9ff !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.1em;
  font-family: "ubuntu", sans-serif;
  width: 75%;
}

.question-container {
  border: solid 1px rgb(93, 86, 86);
  border-radius: 8px;
  padding: 10px 15px;
  /* margin: 2px 5px; */
}

.question {
  background-color: #fae3e4;
  border-radius: 5px;
  padding: 8px 5px;
}

.options {
  /* outline: solid 2px red; */
  padding: 5px;
  margin-top: 4px;
  border-radius: 5px;
  background-color: rgb(226, 226, 226) !important;
}

.correct-option {
  padding: 5px;
  margin-top: 4px;
  border-radius: 5px;
  color: rgb(0, 171, 0);
}

.questions-heading {
  display: flex;
  justify-content: center;
  font-size: 25px !important;
  border-bottom: solid 2px #4d455d;
  border-style: dotted;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #373837;
}

.individual-question-container {
  margin: 0 auto 100px auto;
  padding: 10px 25px;
  background-color: #ccd9ff !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  font-size: 1.1em;
  width: inherit;
}

.individual-question-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-field {
  /* padding: 0 10px; */
  display: flex;
  justify-content: center;
  width: 100%;
}
.correct-option-field {
  display: flex;
  justify-content: center;
  width: 100%;
}
.option-field div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
.option-field {
  /* padding: 10px 5px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

.question-edit-backdrop {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
  padding: 50px;
}

.question-edit-form-container form {
  min-width: 200px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
}
.question-edit-form-container {
  width: 800px;
}

.question-edit-option-container {
  display: flex;
  flex-direction: column;
}
.question-edit-option-container div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.question-edit-correct-option-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
