@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;600&family=Labrada:ital,wght@0,100;0,200;0,400;1,200&family=Montserrat&family=Ubuntu&family=Zeyada&display=swap");

.signup-form-container {
  align-items: center;
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 5em auto;
  padding: 1em;
}

.form-item {
  font-family: "Fira Code";
  height: 2em;
  width: 100% !important;
  /* border: none; */
  border-radius: 5px;
  outline: solid 0.5px #555;
  outline-style: dotted;
  padding: 8px 0;
}
.form-item:focus {
  border-radius: 15px;
  outline: 1px solid #555;
  box-shadow: 10px 5px 15px #4d4c4c;
  transition: 300ms;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 40em;
  gap: 0.5em;
}

.submit-btn {
  width: 150px;
  height: 50px;
  margin: 10px auto;
  color: #fff;
  font-size: 1.3em;
  font-family: "Fira Code";
  background-color: #1976d2;
  border-radius: 15px;
}

.submit-btn:active {
  transform: scale(1.1);
  transition: 100ms;
  box-shadow: 2px 2px 10px black;
}

.error-warning {
  color: red;
  font-size: 0.7em;
  font-family: "fira code";
}

.dropdown {
  width: inherit !important;
  height: 3em !important;
}
