@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;600&family=Labrada:ital,wght@0,100;0,200;0,400;1,200&family=Montserrat&family=Ubuntu&family=Zeyada&display=swap");

.signup-form-container {
  align-items: center;
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 4em auto;
  padding: 1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40em;
  gap: 0.5em;
}

.form-item {
  font-family: "Fira Code";
  height: 2em !important;
  width: 100% !important;
  outline-style: dotted;
  border: none;
  padding: 8px 0px;
}
.form-item:focus {
  border-radius: 10px;
  outline: 1px solid #555;
  box-shadow: 10px 5px 15px #4d4c4c;
  transition: 300ms;
}

.error-warning {
  color: red;
  font-size: 0.7em;
  font-family: "fira code";
}

.form-heading {
  font-family: "ubuntu", "Fira code", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555;
  font-weight: bold;
  margin-top: 20px;
  justify-content: center;
  border-bottom: solid 2px rgb(129, 109, 255);
}

.dropdown {
  width: 100% !important;
  height: 3em !important;
}

.reset-btn {
  background-color: #ffc107 !important;
}
.reset-btn:hover {
  background-color: #e0a800 !important;
}
